body {
    border: 2px solid black;
    background-color: #d3e7ee;
    margin: 30px;
  }

.main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    font-size: 23px;    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    grid-column: 1 / span 4;  
    font-family: 'Berkshire Swash', cursive;
    font-size: 58px;
    color: #2bc2bd;
    background-color: #bbe4e0;
}

.selectMonth {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 80px;
    grid-column: 1 / span 2;
}
.selectYear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    grid-column: 3 / span 2;
}

.monthBody {
    grid-column: 1 / span 4;
}

.month {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-columns: repeat(7, 1fr);
    height: 820px;
    background-color: yellow;
}

.week {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / span 7;
}

.dates {
    display: grid;
    grid-column: 1 / span 7;
    grid-row: 2 / span 7; 
    grid-template-areas: "monday tuesday wednesday thursday friday saturday sunday"
                         "monday tuesday wednesday thursday friday saturday sunday"
                         "monday tuesday wednesday thursday friday saturday sunday"
                         "monday tuesday wednesday thursday friday saturday sunday"
                         "monday tuesday wednesday thursday friday saturday sunday";
    grid-gap: 5px;
    background-color: orchid;
}

.monday {
    grid-area: monday;
    border-radius: 10px;
    border: 2px solid #abd1dc;
}

.tuesday {
    grid-area: tuesday;
    background-color: #fff;
}

.wednesday {
    grid-area: wednesday;
    background-color: #fff;
}

.thursday {
    grid-area: thursday;
} 

.friday {
    grid-area: friday;
} 

.saturday {
    grid-area: saturday;
} 

.sunday {
    grid-area: sunday;
}